.container {
  position: relative;
  /* background-color: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:hover {
  cursor: pointer;
}
.mainAvatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.badgeImg {
  position: absolute;
  bottom: 0px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  border: solid 2px white;
}
