.body {
  padding: 10px;
}
.body:hover {
  background-color: rgb(243, 255, 254);
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header>div {
  margin-right: 10px;
}
.header .userName {
  margin-left: 10px;
  color: rgb(96, 165, 235);
}
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.footer>div{
  margin-right: 30px;
}
.footer>.time {
  color: #aaa;
  font-size: 0.7rem;
  padding-left: 40px;
}
.footer>.like{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer>.like>div{
  margin-right: 10px;
}
.commentContent {
  padding-left: 40px;
}
.newReply {
  /* background-color: aliceblue; */
}