.body {
  /* padding: 10px; */
  padding-bottom: 10px;
  /* border-radius: -7px; */
}
/* .body:hover {
  background-color: rgb(243, 255, 254);
} */
.header {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header>div {
  margin-right: 10px;
}
.header .userName {
  margin-left: 5px;
  font-size: .8rem;
  color: #565;
}
.header .userName:hover {
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.footer>div{
  margin-right: 30px;
}
.footer>.time {
  color: #aaa;
  font-size: 0.7rem;
  padding-left: 40px;
  flex: 1;
}
.footer>.like{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #aaa;
}
.footer>.like>div{
  margin-right: 10px;
}
.commentContent {
  padding-left: 40px;
}
.newReply {
  /* background-color: aliceblue; */
}