.platformItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: solid 1px #bbb; */
  /* margin-right: 10px;
  padding: 2px;
  border-radius: 2px; */
}
.platformItem:hover {
  cursor: pointer;
}
.platformItem>span{
  margin-left: 10px;
}
.dialogBody {
  width: 200px;
  height: 300px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}